*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
    display: none; /*to hide the elements if not needed*/
}

.column img {
    margin-top: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content{
    background-color: antiquewhite;
    padding: 10px;
}

.btn:hover {
    background-color: aquamarine;
}

.btn:active {
    background-color: rgb(182, 124, 47);
    color: rgb(206, 34, 34);
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
  }
  

