.roadmap {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}

/*pointer's slider*/
.pointer {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

/*mouseover effect*/
.pointer:hover {
    opacity: 1;
}

/*pointer itself*/
.pointer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    cursor: grab;
}
 .pointer::-moz-range-thumb {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    cursor: grab;
 }

 /*date table*/
table, th {
    border: 1px solid;
}
th {
    width: 20%;
}
 table {
    border-collapse: collapse;
    width: 100%;
}

/*event*/
.eventcontainer {
    background-color: aqua;
    width: 40%;
    height: 10cm;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 10%;
    border-radius: 25px;
    text-align: center;

}
p {
    color: black;
}